.wrapper {
  width: 100%;
}

.contents {
  overflow: hidden;
}

.contents, .searchDiv {
  height: 500px;
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
}

.searchDiv {
  height: 200px;
  width: 85%;
  margin: 5% auto;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footerClass {
  display: flex;
  flex-flow: row;
}

@media (max-width: 540px) {
  .contents {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .hr {
    margin-top: 35%;
    margin-bottom: 5%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .searchDiv {
    width: 100%;
  }
}

