.wrapper {
  height: 1000px;
  width: 100%;
}

.contents {
  overflow: hidden;
}

.contents, .searchDiv {
  height: 500px;
  width: 80%;
  /* border: 1px solid red; */
  margin: auto;
}

.searchDiv {
  height: 200px;
  width: 85%;
  margin: 5% auto;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footerClass {
  display: flex;
  flex-flow: row;
}