.container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.aTags {
    font-size: 12px;
    margin: auto 15px;
}

@media (max-width: 1024px) {
    .footerImage {
        display: none;
    }
}

@media screen and (min-device-width: 860px) and (max-device-width: 1024px) {
    .aTags {
        font-size: 12px;
        margin: auto 10px;
    }
}

@media (max-width: 859px) {
    .container {
        flex-flow: column;
    }
}

@media (max-width: 425px) {
    .linkDiv {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        margin-bottom: 2%;
    }
}