.usersSection {
    border: 1px solid red;
    height: 1000px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row;
}

.sidebarSec {
    border: 1px solid red;
    width: 25%;
    height: 50%;
}

.feeds {
    border: 1px solid red;
    width: 80%;
    margin-top: 3%;
}

.count {
    font-size: 20px;
}